{{# each products}}
		<div class=" col-sm-6 col-md-4">
            <div class="thumbnail">
            <img src="{{ this.imageThumb }} ">
                <h4>{{this.title}}</h4>
                <p class="thumbDes">{{this.description}}</p>
                <div class="clearfix">
                	<div class="price pull-left">${{this.price}}</div> 
                    <a href="#" class="btn btn-xs pull-right btn-success" role="button">Add to Cart</a>
            	</div>
            </div>
   		</div>
{{/each}}
